.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigationLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navigationLinks > li {
    margin: 0 1rem;
}
